$primary:#2E5180;
$dark-gray:#333333;
$mid-gray:#707F89;
$gray:#CDD6DD;
$light-gray:#EEF4F8;
$white:#ffffff;

// flexbox
@mixin flexPrimary ($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexSecandary ($direction) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $direction;
}

// breakpoint
$sp: 575px;
$tab: 760px;
$pc: 880px;


@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}




// @mixin media ($breakpoint) {
//   @media (min-width:$breakpoint) {
//     @content;
//   }
// }
