@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:where([hidden]:not([hidden='until-found'])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  line-height: 1.5;
  font-family: system-ui,sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role='button'], [role='option']) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  color: inherit;
  text-underline-offset: .2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  -webkit-border-before: 1px solid;
          border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 3px solid Highlight;
  outline-offset: 2px;
  scroll-margin-block: 10vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.book-1 {
  font-family: "源ノ角ゴシック JP";
}

.book-1 a {
  color: inherit;
}

.book-1 a:hover {
  opacity: 0.8;
}

.book-1 .container {
  width: 85%;
  margin: 0 auto;
}

.book-1 .heading-h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}

.book-1 .heading-h2--footer {
  font-size: 16px;
}

@media (min-width: 880px) {
  .book-1 .heading-h2 {
    font-size: 36px;
  }
}

.book-1 .heading-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.8;
}

@media (min-width: 880px) {
  .book-1 .heading-h3 {
    font-size: 30px;
  }
}

.book-1 .sr-only {
  display: none;
}

.book-1 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 0;
}

.book-1 .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-1 .header__wrapper img {
  width: 42px;
  margin-right: 10px;
}

.book-1 .header__wrapper h2 {
  color: #333333;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.2;
}

.book-1 .header__wrapper p {
  color: #707F89;
  font-size: 10px;
  line-height: 1.4;
}

.book-1 .header__btn {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  outline: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #2E5180;
  width: 20px;
  height: 14px;
}

.book-1 .header__btn::before, .book-1 .header__btn:after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.book-1 .header__btn::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 6px currentColor;
          box-shadow: 0 6px currentColor;
}

.book-1 .header__btn__sponly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.book-1 .hero__wrapper {
  position: relative;
}

.book-1 .hero__wrapper__img img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-1 .hero__wrapper__text {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  color: #2E5180;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 130px;
  bottom: 0;
  right: 0;
  left: 0;
}

.book-1 .hero__wrapper__text p {
  font-size: 14px;
}

.book-1 .hero__wrapper__text h1 {
  font-size: 25px;
  margin-top: 10px;
}

.book-1 .feature__wrapper {
  background-color: #2E5180;
}

.book-1 .feature__wrapper__textbox {
  color: #ffffff;
  text-align: center;
  padding: 65px 0;
}

.book-1 .feature__wrapper__textbox p {
  margin-top: 35px;
}

.book-1 .services__wrapper__heading {
  color: #2E5180;
  padding: 65px 0;
  text-align: center;
}

.book-1 .services__wrapper__heading h2 {
  border-bottom: 3px dotted;
  padding-bottom: 10px;
}

.book-1 .services__wrapper__heading p {
  margin-top: 10px;
}

.book-1 .services__wrapper__flexwrapper {
  text-align: center;
  color: #333333;
}

.book-1 .services__wrapper__flexwrapper__service:not(:first-child) {
  margin-top: 65px;
}

.book-1 .services__wrapper__flexwrapper__service:last-child {
  margin-bottom: 65px;
}

.book-1 .services__wrapper__flexwrapper__service__info {
  padding: 30px 25px 0;
}

.book-1 .services__wrapper__flexwrapper__service__info p {
  font-size: 12px;
}

.book-1 .services__wrapper__flexwrapper__service .btn {
  color: #2E5180;
  border: #2E5180 3px solid;
  border-radius: 30px;
  text-decoration: none;
  padding: 15px 70px;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

.book-1 .contact__wrapper {
  background-color: #EEF4F8;
  padding: 62px 0;
}

.book-1 .contact__wrapper input, .book-1 .contact__wrapper textarea {
  width: 100%;
}

.book-1 .contact__wrapper__form__text:first-child {
  margin-top: 50px;
}

.book-1 .contact__wrapper__form__text:not(:first-child) {
  margin-top: 20px;
}

.book-1 .contact__wrapper__form__text input, .book-1 .contact__wrapper__form__text text, .book-1 .contact__wrapper__form__text textarea {
  border: #CDD6DD 1px solid;
}

.book-1 .contact__wrapper__form__text input.submit, .book-1 .contact__wrapper__form__text text.submit, .book-1 .contact__wrapper__form__text textarea.submit {
  background-color: #2E5180;
  color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  border: none;
}

.book-1 .footer__wrapper {
  background-color: #2E5180;
  color: #ffffff;
}

.book-1 .footer__wrapper__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 258px;
}

.book-1 .footer__wrapper__head img {
  width: 45px;
}

.book-1 .footer__wrapper__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 12px;
  padding: 20px;
}

.book-1 .footer__wrapper__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 155px;
  margin: 0 auto;
}

.book-1 .footer__wrapper .mod-footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}
/*# sourceMappingURL=style.css.map */