@import "./_variable.scss";
@import "./reset";

.book-1 {
font-family: "源ノ角ゴシック JP";
a {
  color:inherit;
  &:hover {
    opacity: 0.8;
  }
}

.container {
  width: 85%;
  margin: 0 auto;
}

.heading-h2 {
  font-weight: 900;
  font-size:24px;
  line-height: 1.5;

  @include pc {
    font-size: 36px;
  }

}

// header start
.header {
  @include flexPrimary(row);
  padding: 15px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    img {
      width: 42px;
      margin-right: 10px;
    }
    h2 {
      color: $dark-gray;
      font-size: 12px;
      font-weight: 900;
      line-height: 1.2;
    }
    p {
      color:$mid-gray ;
      font-size: 10px;
      line-height: 1.4;
    }
}
&__btn {
  box-sizing: content-box;
	outline: 0;
	border: none;
	background: none;
  cursor: pointer;
  color: $primary;
  width: 20px;
  height: 14px;

  &::before,
  &:after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    transform: translateY(5px);
  }

  &::before {
    transform: translateY(-5px);
    box-shadow: 0 6px currentColor;
  }

	&__sponly {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

}
}
// header end
// hero start
.hero__wrapper {
  position: relative;
  &__img {
    
    img {
      height: 400px;
      object-fit: cover;
    }
  }
  &__text {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    color: $primary;
    text-align: center;
    @include flexPrimary(column);
    justify-content: center;
    height: 130px;
    bottom: 0;
    right: 0;
    left: 0;
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 25px;
      margin-top: 10px;
    }
  }
}
// hero end
.feature__wrapper {
  background-color: $primary;

  &__textbox {
    color: $white;
    text-align: center;
    padding: 65px 0;
    // h2 {
    //   font-size:24px;
    //   line-height: 1.5;
    // }
    p {
      margin-top: 35px;
    }

  }

}
}
