@import "./_variable.scss";
@import "./reset";

.book-1 {
.header {
  &__wrapper {
    display: flex;
    align-items: center;
    img {
      width: 42px;
      margin-right: 10px;
    }
    h2 {
      color: $dark-gray;
      font-size: 12px;
      font-weight: 900;
      line-height: 1.2;
    }
    p {
      color:$mid-gray ;
      font-size: 10px;
      line-height: 1.4;
    }
}
}
}
